.forecast-cards {
  border: 1px solid black;
  width: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forecast-cards:hover {
  opacity: 0.5;
  background-color: lightgray;
}

.four-day-forecast {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 736px) {
  .forecast-cards {
    width: 30%;
    font-size: 0.7rem;
  }

  .four-day-forecast {
    width: 100%;
  }
}
