.form {
  /* background-color: lightgray; */
  height: 80vh;
  width: 20vw;
  line-height: 2em;
  margin: 0 auto;
  margin-top: 5%;
}

.form form input[type="text"],
.form form input[type="password"] {
  width: 100%;
  border-radius: 6px;
  height: 2em;
}

.form button[type="submit"] {
  margin-top: 25px;
  padding: 13px 18px;
  color: white;
  background-color: #a0b9c6;
  border: none;
  border-radius: 6px;
  font-size: 1em;
}

.form button[type="submit"]:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: 0.3s;
}

.error {
  position: absolute;
  color: red;
}

@media only screen and (max-width: 736px) {
  .form {
    width: 70vw;
  }

  .form button[type="submit"] {
    margin-bottom: 50px;
  }
}
